<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="static/bootstrap/bootstrap.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <style type="text/css">
        body {
            padding-top: 5rem;
        }

        .starter-template {
            padding: 3rem 1.5rem;
            text-align: center;
        }
    </style>
</head>

    
<body>
    
    
<!--    Joueur 1-->
    <input id="playerOnePlay" type="button" value="Joueur 1 Jouer">
    <input type="button" value="Joueur 1 Passer">
    <p>  Cartes restantes Joueur 1 : <span id="playerOneCardsLength"></span> </p>
    <p>  Cartes du Joueur 1 : </p><p id="playerOneCards"></p> 
    
    
        
<!--Joueur 2-->
    <input id="playerTwoPlay" type="button" value="Joueur 2 Jouer">
    <input type="button" value="Joueur 2 Passer">
     <p>  Cartes restantes Joueur 2 : <span id="playerTwoCardsLength"></span> </p>
    <p>  Cartes du Joueur 2 : <span id="playerTwoCards"></span> </p>
    <input id="distribution" type="button" value="Distribuer">
    
     <p> Nombre de cartes restantes dans le paquet : <span id="deckLength"></span> </p>
     <p> Carte active : <span id="activeCard"></span> </p>
    

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="static/files/index.js"></script>

</body>
</html>